%p.intro
  This is the blagh of the 
  %a{:href => "http://www.snepo.com/"}Snepo 
  peeps - Arse, Andrew, Ben, Cristina, Cam and Scott.

%p.blurb
  Snepo is a small software company with locations in Sydney, Australia and New York City.
  We have a kiosk/digital signage product called 
  %a{:href => "http://www.path-point.com/"}PathPoint
  which is pretty hot stuff. 
  We also like to make games. As a company we primarily concern ourselves with doing cool shit. 
  Also, we can toast sandwiches with our minds.

%p.recent
  Most recently 
  = @articles.first.by 
  published
  %a{:href => article_path(@articles.first)}= @articles.first.title
  == (#{@articles.first.published.strftime("%B %d, %Y")})

%p.contact
  Shoot an email to <span class="email">info@#{thisdomain}</span> and <strong>say&nbsp;hello</strong>.

%ul#navigation
  %li
    %a{:href => "/articles"} Articles
  %li
    %a{:href => "/projects"} Projects