-# title: Bootstrapping a startup
-# published: 2007-07-19
-# by: Scotty Weeks

:textile
  With Snepo, much like many other startups, we have endless faith in
  our great ideas. Unfortunately that didn't mean that we were able
  to just run out the door at the beginning. Money, that stuff that
  we're all interested in making gobs of (while changing the world of
  course) was also necessary if we were going to turn our idle chit-chat
  into a real company.
  
  If you find yourself in this position or if you're getting ready to
  take that brilliant idea to market you have one or more of the
  following options available to you:
  
   * Save and save until you have enough money to support yourself and
   pay rent, utilities, etc... for at least a year 
   * Borrow from family and/or friends
   * Try to lure somebody into investing in you
   * Consult while trying to maintain focus
   
  There are benefits and drawbacks for each of these as you may
  suspect. Let's examine them in more detail.
  
  h3. Save and Save
  
  Seems like a good idea at first until you realise that in order to
  save enough money to live _and_ pay rent for a year would require you
  to already be making at least double what you spend. Clearly going a
  pure savings route is just not in the cards unless you're already in
  more money than you know what to do with. Alternatively you could be
  independently wealthy from the get-go, it worked for Bill Gates and it
  could work for you.
  
  Assuming you're not going that route saving enough money to go without
  salary for three or four months is still a must. When starting a new
  business nothing is for certain save for the certainly of going
  longer than you thought without pay. So if you're entertaining fantasies
  of putting money down on a house, think again. You can be a homeowner
  _after_ you make it big.
  
  
  h3. Borrow from family and friends
  
  On one hand this can be a spectacular option. The loans are cheap and
  the repayments are easy. Unfortunately there looming problems that are
  all too obvious. First, there's the emotional baggage of carrying debt
  to a loved one or friend. This can be intimidating depending on your
  family's financial status or emotional health. The other factor is
  that if you do run across hard times the inability to repay loans can
  wreak far more havoc on your life when you owe Maw and Paw money than
  when you owe The First National Bank of Renaldo several months salary.
  
  A slightly kinder compromise to the notion of borrowing several months
  salary from your family and friends is living off of your partner. If
  you have a supportive spouse and are willing to take your lumps then
  this is a viable option and probably one of the better ones out
  there. Unfortunately none of us had that option, my partner being a
  full time student and both Arse and Ben's other halves being heavily
  pregnant when we decided to commit to Snepo. Take it if you can get
  it, mate.
  
  h3. Lure some poor bastard into investing in you
  
  Ha! What a great idea, somebody gives you and the other founders a
  year's salary to make your idea a reality. All they ask is your heart
  and soul and the ability to immediately replace you with people that
  actually know how to run a business after you've begun to produce
  meaningful IP. 
  
  The truth of it is that it really depends on your product. If you're
  selling a service based software solution where there's a huge
  advantage to the first mover then you're best bet is probably the VC
  dough. On the other hand if you're selling a software product and
  you're not required to make everyone in the world a user right this
  minute then it pays to spend that VC courtship energy on actually
  developing your product. 
  
  Unfortunately, in many cases the search for funding takes precedent
  over the business itself. You can end up spending more time on your
  elevator pitch than on your products. This is my intuition anyway,
  perhaps after a while I may regret our decision to refrain from
  chasing venture dollars. Probably not though.
  
  h3. Consulting
  
  Ahhhh consulting, that double edged sword. Consulting can pay the
  bills ohhh so well. It's relatively easy work to get these days with
  the market rebounding a bit, and who can turn down consulting rates?
  It all comes at a price though. If you're consulting then you
  cannot be working on your big ideas full time. This is a lot more
  serious than it sounds, being a consultancy is great if that's the
  business that you're in but if you're keen to build a product it has
  the ability to weigh you down with the siren call of steady income.
  
  It doesn't have to be all doom and gloom though. If you set a quota of
  time per week that _must_ be spent developing your product and you
  stick to it then taking consulting work is about the best way for a
  startup to stay started. That's not all, if you choose your clients
  wisely then you can end up in a good position to develop future
  markets for your product.
  
  In the case that you have a client and the job you're doing could
  benefit from your shit-hot automatic penguin classifier algorithm then
  be up front with them. Tell them that you're working on a product that
  may be useful to them and that in exchange for a reasonable licensing
  fee you will be willing to use it in their solution. Be clear about
  the state of it and you could end up killing a few birds with one
  stone.
  
  h3. What we're doing
  
  When Arse, Ben, and I left to start up Snepo we were certain that we'd
  not even see a dip in pay (HA!). We had lined up two different
  consulting clients that were both vying for our attention. Both of
  these parties were big enough to provide us with our current salary
  rate for several months. Well, sure enough- we were along our merry
  way and the client that we chose to deal with stalled our first
  payment. Heh, no big deal right? Well, this client kept stalling and
  we finally ended the relationship before it had really
  begun. Meanwhile we were busy lining up other potential customers and
  managed to land enough paying contracts to keep us afloat.
  
  However, those contracts paid Net 30 which is actually pretty speedy
  for larger corporate clients. That means that we get paid 30 days
  _after_ we invoice. We deposited money into our business account for
  the first time about a month and a half after we opened it.
  
  The lesson is to make sure you can absorb the loss of income right
  away, don't run out the door to startup a wanky "web 2.0" company,
  eschew consulting work, and neglect to be able to support yourself. I
  couldn't imagine very many things more crushing than having to give up
  and get a real job being just a few weeks away from being self
  sustaining.
  
