-# title: New York, New York
-# published: 2008-06-24
-# by: Scotty Weeks

:textile
  Wow, we did it. We have a Snepo office in NYC. Well, to be fair it's not an Office Offfice, it's like having another startup. 
  
  !/photos/nyc-weeksie.jpg!
  
  As many of you know I'm an American by birth (Australian by naturalisation -- And spelling) and I have been hankering for a return to the mother country for a while. New York presents a lot of opportunities for Snepo as a company, the size of the market here is massive. With the release of our fantastic new product, PathPoint, which is an OMFG awesome kiosk software suite, it just made sense to go for the gold and push ourselves internationally.
  
  Still, I miss Sydney and as much as I'd never admit it, especially not to an internet full of strangers, I miss the guys at the office (not Arse). New York is great though and I'll endeavour to keep the blahg updated on the adventures of *Snepo, Inc.* as we enter the next phase of our business development and the push to start marketing a new product to a new market.
