-# title: The BRITE Conference at Columbia
-# published: 2009-03-09
-# by: Scotty Weeks
-# summary: Wrap up of our experiences at the Brite Conference.

:markdown
  I attended the [BRITE Conference](http://briteconference.com) at Columbia Business School last week. It was a bit painful to realize that I had, in fact, become a marketer. Regardless, I had the opportunity to learn an absolute ton, much of which will help with marketing [PathPoint](http://path-point.com), particularly with our work around gathering a community of digital signage advertisers.
  
  The conference was great though, the keynote was delivered by [Seth Godin](http://sethgodin.typepad.com) and it was chock full of speakers. The subject matter focused quite a bit on community building and the notion of tribes. I attended preparing to hold my nose as legions of clueless marketers rambled on about synergies and leverage but to my delight only one of the presenters went that direction. 
  
  The second day of the conference was spent split into workshops. The second workshop I attended was run by [Frog Design](http://frogdesign.com). These guys were on fire, they presented their brainstorming technique and we tried it out with the problem of generating revenue for the New York Times.
  
  *The Technique*
  
  * Start with the problem: The New York Times Needs Revenue
  * Then list assumptions, these are based on how the problem is typically solved or how it currently works. In this case we assumed (among other things) that Money comes from readers and advertisers
  * Then provoke those assumptions by exaggerating, reversing, or otherwise throwing them completely off kilter. You can tell the quality of a provocation fairly easily, if it elicits snickers from your group then you're on the right track. My contribution was "What if there were no readers?"
  * Then come up with ideas based on those. Again my contribution to my team was "Lease out the writers and content creators"
  
  When trying to find the exact terms for the rest of the provocation categories I happened across [this fastcompany article](http://www.fastcompany.com/blog/abha-bhattarai/abha-bhattarai/innovation-nothing-more-good-joke) and [this blog posting at Really Practical](http://www.reallypractical.com/2009/03/06/should-the-new-york-times-rent-out-its-reporters). That right there is enough to make a guy feel fairly chuffed with himself.
  
  
