-# title: The importance of screwing off
-# published: 2007-07-19
-# by: Scotty Weeks

:textile
  Why start a business, or why work at a start up? The pay isn't so good,
  the offices can be bit cramped (unless you work at Snepo), the prestige isn't exactly going to get you an interview on The Daily Show. So without motivators like money,
  fame, and prestige what makes us go? 
  
  h3. Accomplishment
  
  This is the king. The beautiful conceit that fuels the fire of so many
  start ups, that we can create something to change the world. Even if
  there's not a noticeable change in the planet, at least there's the
  singular feeling of exhilaration that comes from creating something
  with quality.
  
  The founders, the first employees, the partners-- None of us would be
  anywhere near the fire if it weren't for the chance to say that we did
  something. We *made* something. That's hot shit. It's what keeps smart
  people awake at night, spinning ideas around in their head and hangin'
  for the whole sleep thing to be over with so they can get up in
  the morning and make stuff happen. Those
  Captain-Of-Industry-Motherfuckers can't get away from the fact that
  they're just junkies for that rush that comes from accomplishing
  something.
  
  That drive is fantastic but it burns out after a bit. It takes a long
  time to notice it's happening, too. It's all too easy to charge and
  charge even when the wheels start to spin. Here's an experiment
  for you: Take a whole room full of ambitious, motivated people and
  work 'em until their wheels start spinning and they aren't getting
  anything done. Now wait for the knife fights. We tend to sow the seeds
  of our own destruction, that's poetic and all but it's hardly any way
  to run a business.
  
  So what to do? We're motivated by accomplishment but what else? If we
  are going to stave off the knife fights we have to find some way to
  catch traction.
  
  h3. Fucking Off
  
  Call it whatever you want, "Team Building", "Morale Boosting",
  "Getting Drunk at The Pub" -- It all comes down to understanding and
  accepting that as human beings our sense of well-being comes from more
  than one place. At Snepo we make it a point to have at least one Fuck
  Off day per month. Over the last few months we've done things like:
  
  
  * Ten Pin Bowling (a much bigger novelty here in Australia than it is
    in the States)  
  * Hit the pubs at 7:00AM for Arse's birthday. We made it most of the
    day and then had a party back at the office.  
  * Go-Karting. Arse's father is a gear-head and we rented the track for
    a day with some super charged go-karts o' death. 
  
  <div style="float:left; margin-right:1em;;>
  <a href="http://www.flickr.com/photos/48681137@N00/284099962/" title="Photo Sharing"><img src="http://static.flickr.com/102/284099962_096e17c209_m.jpg" width="240" height="180" alt="Arse and Ben and Crew" /></a>
  </div>
    
  I consider all of those to be official Snepo Business. None of us got
  involved in this thing to be running on a treadmill until we burn
  out. A good solid day of tearing things up and screwing around is
  *absolutely essential* to keeping that accomplishment drive greased up
  and ready.
  
  A bit of competition is good for diffusing the knife-fighting urge we
  talked about earlier as well. I'd much rather race my buddy around a
  track, lose control, and slam into a tire barricade at 60/kph than
  argue over the colour of a gradient or what sort of test framework to
  use. It's just a bit more humane.
  
  
  h3. Leisure is Necessary
  
  There's been a lot made of the 40 hour week maxim. If you work any
  more than eight hours in a day then you're probably just adding
  bugs. Our experience at Snepo has found this to be painfully
  true. It's a hard one to stick by but it's paid off in spades. We've
  decided to take things further though. We have a policy that roughly a
  quarter of our "work" time should be spent doing what we want.
  
  Seriously. Writing a book, painting, building robots, hacking a new
  programming language. Something, anything to tap into that hot juicy
  Accomplishment Vibe and give it a little bit of variety. 
  
  <em>What about money? Holy shit! You'll never be able to pull it off, you
  couldn't possibly get anything done that way!</em>
  
  Just watch us. We've been in business for about 10 months now and
  we're steadily growing. We've got one employee, and enough consulting
  work to keep us busy. We're watching the sales of our first product
  grow and it's delightful. Moreover, we're wicked productive because we
  don't succumb to the Ambition Treadmill and burn ourselves out just for the sake of it.
